<div id="<%= dom_id content %>">
  <p>
    <strong>Author:</strong>
    <%= content.Author %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= content.Title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= content.Body %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= content.Product %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= content.Description %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= content.Manufacturer %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= content.Price %>
  </p>

</div>
